{% extends "base.html" %}

{% block content %}
    <div id="app">
        <b-navbar class="is-info">
            <template slot="brand">
                <b-navbar-item href="/">
                    <i class="fas fa-graduation-cap">NavBar</i>
                </b-navbar-item>
            </template>
        </b-navbar>
        <b-field label="Name">
            <b-input v-model="text"></b-input>
        </b-field>
        <div class="buttons">
            <b-button type="is-success" @click="create">Encueue</b-button>
            <b-button type="is-info" @click="update">Update</b-button>
        </div>
        <p> Response: #{ message }</p>
        <nav class="panel">
            <p class="panel-heading">
                Questions
            </p>
            <div class="panel-block" v-for="q in questions">
                <p> #{q} </p>
            </div>
        </nav>
    </div>

    <script>
        app = new Vue({
            el: "#app",
            delimiters: ['#{', '}'],
            data: {
                text: 'text',
                message: 'body here',
                questions: []
            }, methods: {
                create() {
                    var data = {text: this.text};
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.post(
                        '/rqapp/create',
                        data
                    ).then(
                        (response) => {
                            this.message = `${response.status} ${response.statusText}`;
                        }
                    ).catch(
                        (error) => {
                            this.message = error.message
                        }
                    )

                },
                update() {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    axios.get(
                        '/rqapp/questions'
                    ).then(
                        (response) => {
                            this.message = `${response.status} ${response.data['data']}`;
                            this.questions = response.data['data'];
                        }
                    ).catch(
                        (error) => {
                            this.message = error.message
                        }
                    )

                }
            }
        });

    </script>
{% endblock %}

